@import './fonts';

// font weight variable 
$regular : 400;
$medium : 500;
$semiBold : 600;
$bold : 700;
$extraBold : 800;

// font variable 
$montserrat : 'Montserrat', sans-serif;
$spaceGrotesk : 'Space Grotesk', sans-serif;
$georama: 'Georama', sans-serif;
$IBM: "IBM Plex Sans Roman";

// color variable
$blue : #4357D9;
$lightBlue : #ECE3FF; 
$black : #000000;
$darkGray : #242424;
$white : #ffffff;
$green : rgb(15, 197, 30);
$orange : #e98e05;